@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', 'sans-serif';
    scroll-behavior: smooth;
}
:root{
    --bg_color: #1f242d;
    --second_bg_color: #323946;
    --text_color: #fff;
     /* --main_color: #0EF; */
    --main_color: rgb(75, 212, 63);
}

html{
    
    font-size: 62.5%;
    /* overflow: hidden; */
}

body{
    background-color: var(--bg_color);
    color: var(--text_color);
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background-color: var(--bg_color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
        box-shadow: 0 0 1rem var(--main_color);

}
.logo{
    font-size: 2.5rem;
    color: var(--text_color);
    font-weight: 600;
    cursor: default;
}
.navbar a {
    font-size: 1.7rem;
    color: var(--text_color);
    margin-left: 4rem;
}
.navbar a:hover{
    color: var(--main_color);
}
.navbar .home_text{
    color: var(--main_color);
}
#menu_icon{
    font-size: 3.6rem;
    color: var(--text_color);
    display: none;
}

/* home body content */
.home{
    display: flex;
    justify-content: center;
    align-items: center;
}
.home_content h3{
    font-size: 3.2rem;
    font-weight: 700;
}
        /* ----newone :nth-of-type */
.home_content h3:nth-of-type(2){
    margin-bottom: 2rem;
}
span{
    color: var(--main_color);

}
.home_content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}
.home_content p{
    font-size: 1.6rem;
}

.home_image img{
    /* box-shadow: 0 0 1rem var(--main_color); */
    width: 32vw;
    animation: floatImage 4s ease-in-out infinite;
}
@keyframes floatImage {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2.4rem);
    }
    100%{
        transform: translateY(0);
    }
}


.social_media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: .2rem solid var(--main_color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main_color);
    margin: 3rem 1.5rem 3rem;
    transition: .5s ease-in;
}
.social_media a:hover{
    background: var(--main_color);
    color: var(--second_bg_color);
    box-shadow: 0 0 1rem;

}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: var(--main_color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main_color);
    font-size: 1.6rem;
    color: var(--second_bg_color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease-out;
}
.btn:hover{
    box-shadow: none;
}

/* about content */
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: var(--second_bg_color);
}
.about_img img{
    width: 35vw;
}
.heading{
    text-align: left;
    font-size: 4.5rem;
}
.about_content h2{
    text-align: left;
    line-height: 1.2;
}
.about_content h3{
    font-size: 2.6rem;
}
.about_content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

/* skill content */
.Skill_heading{
     text-align: center;
    font-size: 4.5rem;
}
.skill h2{
    margin-bottom: 5rem;
}
.skill_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.skill_container .skill_box{
    flex: 1 1 30rem; 
    height: 350px;
    background-color: var(--second_bg_color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg_color);
    transition: .5s ease;
}
.skill_container .skill_box:hover{
    border-color: var(--main_color);
    transform: scale(1.05);
    box-shadow: 0 0 1rem var(--main_color);
}
.skill_box i{
    font-size: 5rem;
    color: var(--main_color);
    margin-bottom: 15px;
}
.skill_container h3{
    font-size: 2.2rem;
    margin-bottom: 10px;
}
.skill_box p{
    font-size: 1.3rem;
    margin: 1rem 0 3rem;
}
.skill{
    padding-top: 200px;
}

/* contact desingn */
.contact h2{
    font-size: 4.5rem;
    text-align: center;
    margin-bottom: 3rem;
}
.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
.contact form .input_box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .input_box input,
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text_color);
    background-color: var(--second_bg_color);
    border-radius: .8rem;
    margin: .7rem 0;
}
.contact form .input_box input{
    width: 49%;
}
.contact form textarea{
    resize: none;
    margin-bottom: 50px;
}
.contact form .btn{
    cursor: pointer;
}